# tensorflow-cpu==2.13.0
# numpy<2
# pandas
# matplotlib
# seaborn
# scikit-learn
# opencv-python-headless
# tqdm
# flask
# gunicorn
# gdown

flask
gunicorn
numpy==1.24.3
pandas
scikit-learn
opencv-python-headless==4.11.0.86
tensorflow-cpu==2.13.0
gdown
tqdm


# flask
# gunicorn
# numpy
# pandas
# scikit-learn